.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.filterContainer {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 10px;
}

.filterContainer button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #FFCD88;
    text-align: left;
}

.cardContainer {
    display: flex;
    width: 100%;
}

:global .swiper {
    margin-left: 0;
    margin-right: 0;
}

.swiperSlide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80% !important;
    background-color: #9C3B32;
    border-radius: 5px;
}

.cardImg {
    display: flex;
    place-items: end;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
    }
}

.cardText {
    padding: 10px;
    color: #FFCD88;

    h2 {
        font-size: 24px;
    }
    p {
        font-size: 20px;
    }
}

.popupWraper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 2;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.popupWraper.open {
    opacity: 1;
}

.popup {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90%;
    max-width: 500px;
    background-color: #9C3B32;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding: 10px;
    border-radius: 5px;
}

.popup.open {
    opacity: 1;
    transform: scale(100%);
}

.buttonClose {
    display: flex;
    justify-content: flex-end;

    button {
        background-color: transparent;
        border: none;
    }
}

.popupMain {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popupText {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #FFCD88;;
}

.popupImg {
    display: flex;
    place-items: end;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 5px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 480px) {
    .popup {
        width: 70%;
    }
}

@media (min-width: 768px) {
    :global .swiper .swiper-wrapper {
        width: 50%;
    }
        
    .filterContainer {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 0;
    }
    
    .filterContainer button {
        font-size: 20px;
    }

    @media (max-height: 768px) {
        .popup {
            width: 60%!important;
            max-width: none;
        }
        .popupMain {
            flex-direction: row;
        }
    }
}

@media (min-width: 1024px) {
    .filterContainer {
        justify-content: space-between;
        flex-direction: row;
        gap: 0;
    }
    
    .filterContainer button {
        font-size: 24px;
    }
}

@media (min-width: 1444px) {
    :global .swiper .swiper-wrapper {
        width: 30%;
    }
}