.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.containerText {
    display: flex;
    padding-left: 25px;
    width: 100%;
    font-size: 24px;
}

.containerText ul li {
    color: #FFCD88;
}

.containerTextSpan {
    color: #C67F5A;
}

.containerImg {
    display: flex;
    place-items: end;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.8);
    }
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        align-items: center;
    }

    .containerText {
        font-size: 22px;
    }

    .containerText ul li span br {
        display: none;
    }
}

@media (min-width: 1024px) {
    .container {
        flex-direction: row;
        align-items: center;
    }

    .containerText {
        font-size: 30px;
    }
}


@media (min-width: 1444px) {
    .containerText {
        font-size: 32px;
    }
}